anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-generator==1.10
attrs==22.1.0
Babel==2.11.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.11.1
bidict==0.22.1
bleach==5.0.1
blinker==1.5
Brotli==1.0.9
bs4==0.0.1
CacheControl==0.12.11
cachetools==5.2.0
captcha==0.4
certifi==2022.6.15
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.6
cryptography==39.0.2
cssselect==1.1.0
cycler==0.11.0
dash==2.5.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
distro==1.8.0
entrypoints==0.4
exceptiongroup==1.0.4
fake-useragent==0.1.11
fastjsonschema==2.16.2
feedparser==6.0.10
firebase-admin==5.2.0
Flask==2.2.2
Flask-Compress==1.12
flask-googlemaps==0.4.1
Flask-Mail==0.9.1
Flask-ReCaptcha==0.4.2
flask-session-captcha==1.3.0
Flask-Sessionstore==0.4.5
Flask-Simple-GeoIP==0.2.4
Flask-SocketIO==5.3.2
Flask-SQLAlchemy==3.0.2
fonttools==4.33.3
frozendict==2.3.5
ghp-import==2.1.0
google-api-core==2.8.2
google-api-python-client==2.52.0
google-auth==2.9.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.1
google-cloud-firestore==2.5.3
google-cloud-storage==2.4.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.3
greenlet==2.0.1
grpcio==1.47.0
grpcio-status==1.47.0
h11==0.14.0
html5lib==1.1
htmlmin==0.1.12
httplib2==0.20.4
idna==3.3
importlib-metadata==4.12.0
importlib-resources==5.10.0
iniconfig==2.0.0
ipaddress==1.0.23
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.0.0
joblib==1.1.0
jsmin==3.0.1
json5==0.9.10
jsonpickle==2.2.0
jsonschema==4.17.3
jupyter-server==1.23.3
jupyter_client==7.4.7
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2
jupyterlab_server==2.16.3
kiwisolver==1.4.3
lxml==4.9.1
Markdown==3.3.7
markup==0.2
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.6
mergedeep==1.3.4
mistune==2.0.4
mkdocs==1.4.2
mkdocs-material==5.5.14
mkdocs-material-extensions==1.1
mkdocs-minify-plugin==0.3.0
more-itertools==8.13.0
msgpack==1.0.4
multitasking==0.0.11
music21==7.3.3
mysql-connector-python==8.0.29
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.21.6
oauthlib==3.2.2
outcome==1.2.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parse==1.19.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.1.1
pkgutil_resolve_name==1.3.10
plotly==5.8.2
pluggy==1.0.0
prometheus-client==0.15.0
prompt-toolkit==3.0.33
proto-plus==1.20.6
protobuf==3.19.3
psutil==5.9.4
psycopg2==2.9.5
psycopg2-binary==2.9.3
py-edamam==0.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyee==8.2.2
Pygments==2.13.0
PyJSONViewer==1.6.0
pymdown-extensions==9.8
PyMySQL==1.0.2
pyparsing==3.0.9
pyppeteer==1.0.2
pyquery==1.4.3
pyrsistent==0.19.2
PySocks==1.7.1
pytest==7.2.1
python-crontab==2.6.0
python-dateutil==2.8.2
python-dotenv==0.21.0
python-engineio==4.3.4
python-socketio==5.7.2
pytz==2022.7.1
pywin32==305
pywinpty==2.0.9
PyYAML==6.0
pyyaml_env_tag==0.1
pyzmq==24.0.1
recaptcha==1.0rc1
requests==2.28.1
requests-futures==1.0.0
requests-html==0.10.0
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.0.2
scipy==1.7.3
selenium==4.6.0
Send2Trash==1.8.0
sgmllib3k==1.0.0
simple-geoip==0.1.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.43
tenacity==8.0.1
terminado==0.17.0
threadpoolctl==3.1.0
tinycss2==1.2.1
tk==0.1.0
tomli==2.0.1
torch==1.13.0
tornado==6.2
tqdm==4.64.0
traitlets==5.6.0
trio==0.22.0
trio-websocket==0.9.2
tweepy==4.12.1
typing_extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.10
w3lib==1.22.0
watchdog==2.1.9
wcwidth==0.2.5
webcolors==1.12
webdriver-manager==3.8.5
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.3
Werkzeug==2.2.2
wsproto==1.2.0
yahoo-fin==0.8.9.1
yahooquery==2.3.0
yfinance==0.2.12
zipp==3.8.1
