{% extends 'base_in.html' %}

{% block head %}

{% endblock %}

{% block body %}

<style>
    #myDIV {
      /* width: 100%;
      padding: 50px 0;
      text-align: center;
      margin-top: 20px; */
    }

    #myDIV2{
        display: none;
    }

    .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>

<div class="mx-auto" style="width: 200px;">

    <form action= "{{ url_for('calcHelper')}}", method = "post">

            {%for metric in metrics%}
                <input type="checkbox" name="metr" value="{{metric}}">
                <label for="{{metric}}">{{metric}}</label>
                <br>
            {%endfor%}

            Forward EPS: <input name = "weights" type="number"><br>
            Forward P/E: <input name = "weights" type="number"><br>
            PEG Ratio: <input name = "weights" type="number"><br>
            Market Cap: <input name = "weights" type="number"><br>
            Price To Book: <input name = "weights" type="number"><br>
            Return on Equity: <input name = "weights" type="number"><br>
            Free Cash Flow: <input name = "weights" type="number"><br>
            Revenue Growth: <input name = "weights" type="number"><br>
            Dividend Yield: <input name = "weights" type="number"><br>
            Deb To Equity: <input name = "weights" type="number"><br>

            <br>

            <button type="submit" class="btn btn-success">Create Portfolio</button>       
    </form>
</div>

{% endblock %}